services:
    qdrant:
        image: qdrant/qdrant:latest
        container_name: qdrant
        ports:
            - "6333:6333"
        volumes:
            - qdrant_data:/qdrant/storage
        restart: unless-stopped

    backend:
        build:
            context: ./
        container_name: photo-search-backend
        depends_on:
            - qdrant
        environment:
            QDRANT_URL: http://qdrant:6333
        ports:
            - "8000:8000"
        restart: unless-stopped

volumes:
    qdrant_data:
